:root {
  --black: #1d1d1d;
  --white: #FFFFFF;
  --background: #FCFCFC;
  --main-color: #565656;
  --green: #13ed1c;
  --red: #ed1331;
  --yellow: #FFF500;
  --active: #2b2b2b;
  --scroll-track: rgba(163, 163, 163, .2);
}

html,
body {
  box-sizing: border-box;
  height: 100%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  box-sizing: border-box;
  height: 100%;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  display: block;
  text-decoration: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: clamp(0.875rem, 0.835rem + 0.2vw, 1rem);
  color: var(--main-color);
  overflow-x: hidden;
  min-width: 100vw;
}

button {
  padding: 0;
  margin: 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

::marker {
  margin-top: 10px;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

.main {
  overflow-x: clip;
}

.flex {
  display: flex;
  align-items: center;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.container {
  min-width: 375px;
  margin: 0 auto;
  outline: 1px solid brown;
  max-width: 1290px;
  width: 100%;
}
@media screen and (width < 578px) {
  .container {
    padding: 0 16px;
  }
}

html,
body {
  height: 100%;
}

.wrepper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.header__offer {
  padding: 1.125rem 0 1.3125rem;
  font-weight: 600;
  font-size: clamp(0.625rem, 0.525rem + 0.43vw, 0.875rem);
  line-height: 1;
  text-transform: uppercase;
  color: var(--main-color);
  text-align: center;
}
.header__menu-main-bg {
  background-color: var(--black);
}
.header__menu-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--white);
}
.header__menu-main-rightrow {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}
.header__link {
  padding: 1.8125rem 2.125rem;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1;
  text-transform: uppercase;
  color: var(--white);
  transition-duration: 550ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (any-hover: hover) {
  .header__link:hover {
    background-color: var(--active);
    box-shadow: 1px 5px 10px -5px black;
  }
}
.header__link--active {
  background-color: var(--active);
}
.header__location {
  padding: 1.75rem 2.125rem;
  gap: 0.5rem;
}
@media (any-hover: hover) {
  .header__location:hover {
    background-color: var(--black);
  }
}
.header__menu-main-submenu {
  position: absolute;
  width: 100%;
  top: 7.9375rem;
  left: 0;
  background: #f6f6f6;
  padding: 2.9375rem 3.9375rem;
  justify-content: space-between;
}
.header__link-submenu {
  padding: 0.625rem 0.625rem;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1;
  color: var(--black);
  transition-duration: 550ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (any-hover: hover) {
  .header__link-submenu:hover {
    background-color: var(--main-color);
    box-shadow: 1px 5px 10px -5px black;
    color: var(--white);
    transform: translateX(5px);
  }
}
.header__menu-main-icons {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}
.header__menu-main-icons a {
  color: var(--white);
  transition-duration: 550ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (any-hover: hover) {
  .header__menu-main-icons a:hover {
    scale: 1.2;
  }
}
.header__search-btn {
  transition-duration: 550ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (any-hover: hover) {
  .header__search-btn:hover {
    scale: 1.1;
  }
}
.header-body__menu-hat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.0625rem 0.875rem 0.75rem 0;
  background-color: var(--background);
  border-bottom: 1px solid #dbdbdb;
  margin-bottom: 1.25rem;
}
.header__icons-svg {
  color: var(--white);
}
.header__search-form {
  margin-bottom: 1.875rem;
}
.header-bottom {
  display: none;
}

.search {
  position: fixed;
  top: 5.625rem;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  height: 6.875rem;
  border-radius: 0.3125rem;
  z-index: 1;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  text-align: right;
}
.search__close-btn {
  margin-right: 0.625rem;
  margin-top: 0.625rem;
  transition-duration: 550ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (any-hover: hover) {
  .search__close-btn:hover {
    color: var(--red);
  }
}
.search__form {
  width: 18.5rem;
  border: 1px solid #dbdbdb;
  border-radius: 50px;
  padding: 0.8125rem 1.25rem;
  background-color: var(--white);
}
.search__box {
  display: flex;
  gap: 0.625rem;
  align-items: flex-start;
}
.search__box .search__btn {
  margin-left: 0;
}
.search__input {
  width: 100%;
  font-size: 0.875rem;
  line-height: 1;
  border: none;
  outline: none;
}
.search__btn {
  width: 1.5rem;
  height: 1.5rem;
  background-color: rgba(0, 0, 0, 0);
  transition-duration: 550ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (any-hover: hover) {
  .search__btn:hover .search__btn-svg {
    color: var(--accent);
  }
}
@media screen and (width < 1060.01px) {
  .search {
    order: -1;
  }
}

.is-hidden {
  visibility: hidden;
  cursor: pointer;
}

.logo {
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: uppercase;
  color: var(--white);
  line-height: 1.3;
}
.logo--mobile-menu {
  color: var(--main-color);
}

.nav__link--color {
  background-color: var(--red);
  border-radius: 3.125rem;
  padding: 0.8125rem 1.6875rem;
  margin-right: 1.875rem;
  transition-duration: 550ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (any-hover: hover) {
  .nav__link--color:hover {
    background-color: var(--red);
    scale: 1.2;
    box-shadow: 1px 5px 10px -5px red;
  }
  .nav__link--color:hover + .header__menu-main-submenu {
    display: block;
  }
}
.nav__link--svg::after {
  content: "%";
}
.nav__submenu-title {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1;
  text-transform: uppercase;
  color: var(--black);
  margin-bottom: 1.875rem;
}
.nav__menu-btn {
  position: relative;
  display: inline-block;
  width: 1.1875rem;
  height: 0.75rem;
  background: transparent;
  padding: 0;
  transition: 0.3s ease;
}
.nav__menu-btn-line {
  position: absolute;
  left: 0;
  width: 100%;
  height: 0.125rem;
  background: var(--white);
  transition: 0.3s ease;
}
.nav__menu-btn-line:nth-child(1) {
  top: 0px;
}
.nav__menu-btn-line:nth-child(2) {
  top: 0.375rem;
}
.nav__menu-btn-line:nth-child(3) {
  top: 0.375rem;
}
.nav__menu-btn-line:nth-child(4) {
  top: 0.75rem;
}
.nav__submenu-list {
  display: none;
}
.nav__submenu-list.menu--open {
  padding: 0 0 1rem 1rem;
  display: block;
  position: absolute;
  width: 20.5625rem;
  height: 100vh;
  color: var(--main-color);
  top: 4.5rem;
  left: 0;
  background-color: var(--background);
  box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.05);
  z-index: 2;
  overflow-y: auto;
  overflow-x: hidden;
}
.nav__submenu-list.menu--open::-webkit-scrollbar {
  width: 0.1875rem;
}
.nav__submenu-list.menu--open::-webkit-scrollbar-track {
  background-color: var(--scroll-track);
  border-radius: 0.1875rem;
}
.nav__submenu-list.menu--open::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 0.1875rem;
}
.nav__submenu-list__submenu-item {
  margin-bottom: 1.25rem;
}
.nav__submenu-list__submenu-item-title {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1;
  text-transform: uppercase;
  color: var(--black);
}
.nav__submenu-list__submenu-link {
  font-size: 0.875rem;
  line-height: 1;
  color: var(--black);
}

.arrow-prev {
  font-weight: 600;
  font-size: 0.625rem;
  line-height: 1;
  text-transform: uppercase;
  color: var(--main-color);
  margin-bottom: 1.875rem;
}
.arrow-prev__svg {
  display: inline-block;
  margin-left: 0.25rem;
}

.sl-wrapper .sl-counter {
  top: 100px;
}

.sl-wrapper .sl-close {
  top: 110px;
}/*# sourceMappingURL=style.css.map */