html,
body {
  box-sizing: border-box;
  height: 100%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  box-sizing: border-box;
  height: 100%;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  display: block;
  text-decoration: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: clamp(0.875rem, 0.835rem + 0.2vw, 1rem);
  line-height: 1.6;
  color: var(--main-color);
  background-color: var(--white);
  overflow-x: hidden;
  min-width: 100vw;
}

button {
  padding: 0;
  margin: 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

::marker {
  margin-top: 10px;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

.main {
  overflow-x: clip;
}

.section {
  padding-bottom: 5rem;
}

.flex {
  display: flex;
  align-items: center;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

:root {
  --black: #1d1d1d;
  --white: #FFFFFF;
  --background: #FCFCFC;
  --main-color: #565656;
  --green: #13ed1c;
  --red: #ed1331;
  --yellow: #FFF500;
  --orang: #FD6E06;
  --active: #2b2b2b;
  --extra-active: #A5A5A5;
  --tabs-link-bg: #F1F1F1;
  --scroll-track: rgba(163, 163, 163, .2);
}

.container {
  min-width: 375px;
  margin: 0 auto;
  outline: 1px solid brown;
  max-width: 1290px;
  width: 100%;
}
@media screen and (width < 578px) {
  .container {
    padding: 0 16px;
  }
}

@media screen and (width < 578px) {
  .product-category.container {
    padding: 0 1rem 5rem 16px;
  }
}
html,
body {
  height: 100%;
}

.wrepper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.header__offer {
  padding: 1.125rem 0 1.3125rem;
  font-weight: 600;
  font-size: clamp(0.625rem, 0.525rem + 0.43vw, 0.875rem);
  line-height: 1;
  text-transform: uppercase;
  color: var(--main-color);
  text-align: center;
}
.header__menu-main-bg {
  background-color: var(--black);
}
.header__menu-main {
  justify-content: space-between;
  color: var(--white);
  flex-wrap: wrap;
}
.header__menu-main-rightrow {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}
.header__link {
  padding: 1.8125rem 2.125rem;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1;
  text-transform: uppercase;
  color: var(--white);
  transition-duration: 550ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (any-hover: hover) {
  .header__link:hover {
    background-color: var(--active);
    box-shadow: 1px 5px 10px -5px black;
  }
}
.header__link--active {
  background-color: var(--active);
}
.header__link-img {
  display: none;
}
.header__link--color {
  background-color: var(--red);
  border-radius: 3.125rem;
  padding: 0.8125rem 1.6875rem;
  margin-right: 1.875rem;
  transition-duration: 550ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (any-hover: hover) {
  .header__link--color:hover {
    background-color: var(--red);
    scale: 1.2;
    box-shadow: 1px 5px 10px -5px red;
  }
  .header__link--color:hover + .header__menu-main-submenu {
    display: block;
  }
}
.header__location {
  padding: 1.75rem 2.125rem;
  gap: 0.5rem;
}
@media (any-hover: hover) {
  .header__location:hover {
    background-color: var(--black);
  }
}
.header__menu-main-submenu {
  position: absolute;
  width: 100%;
  top: 12.5rem;
  left: 0;
  opacity: 0;
  animation: opac 0.7s;
  background: #f6f6f6;
  padding: 2.9375rem clamp(2.063rem, -5.156rem + 11.28vw, 3.938rem);
  justify-content: space-between;
  align-items: flex-start;
  gap: 0.625rem;
  transition-duration: 550ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@keyframes opac {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.header__link-submenu {
  padding: 0.625rem 0.625rem;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1;
  color: var(--black);
  transition-duration: 550ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (any-hover: hover) {
  .header__link-submenu:hover {
    background-color: var(--main-color);
    box-shadow: 1px 5px 10px -5px black;
    color: var(--white);
    transform: translateX(5px);
  }
}
.header__menu-extra {
  justify-content: center;
}
.header__menu-extra a {
  color: var(--main-color);
}
.header__menu-extra .header__link:hover {
  color: var(--white);
  background-color: var(--active);
}
.header__menu-extra .header__link--active {
  color: var(--extra-active);
  background-color: transparent;
}
@media screen and (width < 1024.99px) {
  .header__menu-main {
    height: 4.5rem;
  }
  .header__menu-main-rightrow--mobile {
    justify-content: space-between;
    border-bottom: 1px solid #dbdbdb;
    margin-bottom: 1.25rem;
    padding: 1.0625rem 0.875rem 0.75rem 0;
  }
  .header__location.header__link {
    justify-content: flex-end;
    background-color: var(--background);
    padding: 0;
  }
  .header__location.header__link:hover {
    color: var(--main-color);
    box-shadow: none;
  }
  .header__menu-main-submenu {
    display: none;
  }
  .header__submenu-box:not(:last-child) {
    margin-bottom: 1.875rem;
  }
  .header__link {
    padding: 0 1.5625rem 0 1.875rem;
    color: var(--main-color);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white);
  }
  .header__link:hover {
    color: var(--white);
  }
  .header__link-img {
    display: block;
  }
  .header__link--svg::after {
    content: "%";
  }
  .header__link--color {
    padding: 1.25rem;
    color: var(--red);
    justify-content: center;
    background-color: var(--white);
    margin-right: 0;
    border-radius: 0;
  }
  .header__link--color:hover {
    color: var(--white);
    scale: 1;
  }
  .header__menu-extra {
    display: none;
  }
}
.header__menu-main-icons {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}
.header__menu-main-icons a {
  color: var(--white);
  transition-duration: 550ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (any-hover: hover) {
  .header__menu-main-icons a:hover {
    scale: 1.2;
  }
}
.header__search-btn {
  transition-duration: 550ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (any-hover: hover) {
  .header__search-btn:hover {
    scale: 1.1;
  }
}
.header__icons-svg {
  color: var(--white);
}
.header__search-form {
  margin-bottom: 1.875rem;
}
.header-bottom {
  display: none;
}

.search {
  position: fixed;
  top: 5.625rem;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  height: 6.875rem;
  border-radius: 0.3125rem;
  z-index: 1;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  text-align: right;
}
.search__close-btn {
  margin-right: 0.625rem;
  margin-top: 0.625rem;
  transition-duration: 550ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (any-hover: hover) {
  .search__close-btn:hover {
    color: var(--red);
  }
}
.search__form {
  width: 18.5rem;
  border: 1px solid #dbdbdb;
  border-radius: 50px;
  padding: 0.8125rem 1.25rem;
  background-color: var(--white);
}
.search__box {
  display: flex;
  gap: 0.625rem;
  align-items: flex-start;
}
.search__box .search__btn {
  margin-left: 0;
}
.search__input {
  width: 100%;
  font-size: 0.875rem;
  line-height: 1;
  border: none;
  outline: none;
}
.search__btn {
  width: 1.5rem;
  height: 1.5rem;
  background-color: rgba(0, 0, 0, 0);
  transition-duration: 550ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (any-hover: hover) {
  .search__btn:hover .search__btn-svg {
    color: var(--accent);
  }
}
@media screen and (width < 1060.01px) {
  .search {
    order: -1;
  }
}

.is-hidden {
  visibility: hidden;
  cursor: pointer;
}

.logo {
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: uppercase;
  color: var(--white);
  line-height: 1.3;
}
.logo--mobile {
  color: var(--main-color);
}

.nav link {
  font-size: 0.875rem;
  line-height: 1;
}
.nav__menu-btn {
  display: none;
}
.nav-main__mobile {
  display: none;
}
.nav__item:hover .header__menu-main-submenu {
  opacity: 1;
}
.nav__submenu-title {
  padding-left: 0.625rem;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1;
  text-transform: uppercase;
  color: var(--black);
  margin-bottom: 1.875rem;
}
@media screen and (width < 1024.99px) {
  .nav-main {
    display: none;
  }
  .nav-main.menu--open {
    padding: 0 0 1rem 1rem;
    display: block;
    position: absolute;
    width: 20.5625rem;
    height: 100vh;
    color: var(--main-color);
    top: 0;
    left: 0;
    background-color: var(--background);
    box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.05);
    z-index: 2;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .nav-main.menu--open::-webkit-scrollbar {
    width: 0.1875rem;
  }
  .nav-main.menu--open::-webkit-scrollbar-track {
    background-color: var(--scroll-track);
    border-radius: 0.1875rem;
  }
  .nav-main.menu--open::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: 0.1875rem;
  }
  .nav__menu-btn {
    position: relative;
    display: inline-block;
    width: 1.1875rem;
    height: 0.75rem;
    background: transparent;
    padding: 0;
    transition: 0.3s ease;
  }
  .nav__menu-btn-line {
    position: absolute;
    left: 0;
    width: 100%;
    height: 0.125rem;
    background: var(--white);
    transition: 0.3s ease;
  }
  .nav__menu-btn-line:nth-child(1) {
    top: 0px;
  }
  .nav__menu-btn-line:nth-child(2) {
    top: 0.375rem;
  }
  .nav__menu-btn-line:nth-child(3) {
    top: 0.375rem;
  }
  .nav__menu-btn-line:nth-child(4) {
    top: 0.75rem;
  }
  .nav-main__mobile {
    display: block;
    background-color: var(--background);
  }
  .nav-main__list {
    display: block;
  }
  .nav-main__list:not(:last-child) {
    margin-bottom: 1.875rem;
  }
  .nav__item {
    background-color: var(--white);
  }
  .nav__item:not(:last-child) {
    margin-bottom: 1.25rem;
  }
  .nav__link {
    font-size: 0.875rem;
    line-height: 1;
    color: var(--black);
  }
  .nav-main__mobile-hat {
    background-color: var(--background);
  }
  .nav-extra__list {
    display: block;
  }
}
.nav__submenu-item {
  margin-bottom: 1.25rem;
}
.nav__submenu-item-title {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1;
  text-transform: uppercase;
  color: var(--black);
}

.arrow-prev {
  font-weight: 600;
  font-size: 0.625rem;
  line-height: 1;
  text-transform: uppercase;
  color: var(--main-color);
  margin-bottom: 1.875rem;
}
.arrow-prev__svg {
  display: inline-block;
  margin-left: 0.25rem;
}

.favorite__box-title {
  margin-bottom: 1.5625rem;
}
.favorite__list {
  max-width: 15.25rem;
  flex-wrap: wrap;
  gap: 1.9375rem clamp(1rem, -3.812rem + 7.52vw, 2.25rem);
}
.favorite__link {
  text-align: center;
}
.favorite__link-img {
  margin-bottom: 0.625rem;
}

.additional__item:not(:last-child) {
  margin-bottom: 2.125rem;
}
.additional__link {
  padding: 0 0 0 clamp(0.625rem, -4.187rem + 7.52vw, 1.875rem);
  background-color: var(--white);
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1;
  text-transform: uppercase;
  color: var(--black);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero {
  position: relative;
}
.hero__content {
  position: absolute;
  width: clamp(20.875rem, 13.882rem + 29.84vw, 37.938rem);
  height: clamp(17.375rem, 14.737rem + 11.26vw, 23.813rem);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: 500;
  line-height: 1;
  color: var(--black);
  border-radius: 1.25rem;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.7);
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero__title {
  font-size: clamp(2.5rem, 1.885rem + 2.62vw, 4rem);
  margin-bottom: 1.875rem;
}
.hero__text {
  font-size: clamp(1.25rem, 0.994rem + 1.09vw, 1.875rem);
  margin-bottom: 1.875rem;
}
.hero__slider {
  position: relative;
}
.hero__slider-item {
  display: flex;
  justify-content: center;
}
.hero__slider-images-thumb {
  position: relative;
  width: 26.875rem;
  height: clamp(26.125rem, 20.394rem + 24.78vw, 40.375rem);
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero__slider-img {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (width < 578px) {
  .hero.container {
    padding: 0;
  }
  .hero__slider-img {
    aspect-ratio: 3/4;
  }
}

.swiper__control {
  position: absolute;
  bottom: 2.3125rem;
  right: 1.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
  z-index: 3;
}
.swiper-button-disabled {
  opacity: 0.2;
}
@media screen and (width < 660.99px) {
  .swiper__control {
    bottom: 1.25rem;
    right: 0;
    left: 0;
    text-align: center;
  }
  .swiper-prev, .swiper-next {
    display: none;
  }
  .swiper-pagination-bullet {
    background-color: var(--white);
    width: 1.5rem;
    height: 0.125rem;
  }
  .swiper-pagination {
    position: absolute;
    text-align: center;
    transition: 0.3s opacity;
    transform: translate3d(0, 0, 0);
    z-index: 10;
  }
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 8px);
}

.link {
  font-weight: 600;
  font-size: 0.875rem;
  text-transform: uppercase;
  line-height: 1;
  transition-duration: 550ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.link::after {
  content: url(../images/icons/arrow-prev-slider.svg);
  margin-left: 0.625rem;
}
@media (any-hover: hover) {
  .link:hover {
    scale: 1.1;
  }
}
.link__catalog {
  color: var(--main-color);
}

.hero__link {
  width: 10.8125rem;
  margin: 0 auto;
  border-radius: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
  color: var(--white);
  background: #404444;
  transition-duration: 550ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__link::after {
  display: none;
}
@media (any-hover: hover) {
  .hero__link:hover {
    background-color: var(--active);
    box-shadow: 1px 5px 10px -5px black;
    scale: 1.1;
  }
}

.tabs__overflow {
  overflow-x: auto;
  overflow-y: hidden;
}
.tabs__overflow::-webkit-scrollbar {
  width: 1.25rem;
}
.tabs__overflow::-webkit-scrollbar-track {
  background-color: var(--scroll-track);
  border-radius: 0.5rem;
}
.tabs__overflow::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-top: 5px solid #F1F1F1;
  border-bottom: 5px solid #F1F1F1;
  border-radius: 0.5rem;
}
.tabs__content-item {
  display: none;
}
.tabs__content-item.tabs__content--active {
  display: block;
}
.tabs__link {
  position: relative;
  color: var(--black);
  text-align: center;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  transition-duration: 550ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (any-hover: hover) {
  .tabs__link:hover {
    color: var(--accent);
  }
}
.search__content-item.tabs__content--active {
  display: block;
}

.categories__tabs {
  gap: 1.875rem;
  margin-bottom: 1.25rem;
}
.categories__tabs-link-thumb {
  position: relative;
  width: 8.125rem;
  height: 8.125rem;
  margin-bottom: 1.25rem;
  border-radius: 50%;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}
.categories__link-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.product-category__title {
  margin-bottom: 1.25rem;
}
.product-category__box {
  display: flex;
  gap: 3.125rem;
}
.product-category__thumb {
  position: relative;
  max-width: 22.5625rem;
  width: 100%;
  height: 34.25rem;
  overflow: hidden;
}
.product-category__img {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.product-category__content {
  max-width: 46.25rem;
  margin-bottom: 2.5rem;
}
.product-category__slider {
  max-width: 54.9375rem;
  margin: 0 auto;
}
@media screen and (width < 1200.99px) {
  .product-category__box {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .product-category__content {
    position: relative;
    order: -1;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (width < 895.99px) {
  .product-category__slider {
    max-width: 41.75rem;
    width: 100%;
  }
}
@media screen and (width < 684.99px) {
  .product-category__slider {
    max-width: 26.625rem;
  }
}
@media screen and (width < 426.99px) {
  .product-category__slider {
    max-width: 21.5rem;
  }
}
@media screen and (width < 480.99px) {
  .product-category__thumb {
    max-width: 100%;
    width: 100%;
  }
}

.section__title {
  font-weight: 600;
  font-size: clamp(1.25rem, 0.999rem + 1.09vw, 1.875rem);
  line-height: 1;
  color: var(--black);
}

.slider__title {
  font-weight: 600;
  font-size: clamp(1rem, 0.899rem + 0.43vw, 1.25rem);
  line-height: 1;
  color: var(--black);
  margin-top: 1.25rem;
}

.splide__slide {
  min-height: 21.3125rem;
}
.splide__pagination {
  gap: 0.5rem;
  bottom: -2.5rem;
  right: auto;
  padding: 0;
}
.splide__pagination button.is-active {
  background-color: var(--main-color);
  transform: none;
}
.splide__arrow {
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  display: -ms-flexbox;
  background: var(--main-color);
  border-radius: 50%;
  cursor: pointer;
  opacity: 1;
  padding: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
.splide__arrow--prev {
  left: 0;
}
.splide__arrow--next {
  right: 0;
}
.splide .splide__arrow svg {
  fill: white;
  height: 20px;
  width: 20px;
}
.splide .splide__pagination__page {
  transition-duration: 550ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 1.5rem;
  height: 0.125rem;
  font-size: 0;
  background-color: rgba(86, 86, 86, 0.2);
  border: 0;
  border-radius: 0;
  display: inline-block;
  margin: 0;
  opacity: 1;
  padding: 0;
  position: relative;
}
@media screen and (width < 684.99px) {
  .splide__pagination {
    left: 50%;
    transform: translateX(-50%);
    flex-wrap: nowrap;
  }
}

.slider__item {
  text-align: center;
  max-width: 12.6875rem;
}
.slider__link {
  width: 100%;
  text-align: center;
}
.slider__link img {
  height: 18.8125rem;
}
@media screen and (width < 426.99px) {
  .slider__item {
    max-width: 10.125rem;
  }
}

.popular__content {
  justify-content: space-between;
  margin-bottom: 2.5rem;
}
.popular .splide__pagination {
  left: 50%;
  transform: translate(-50%, 0);
}

.card-product {
  position: relative;
  max-width: 18.75rem;
  margin: 0 auto;
  text-align: left;
  transition-duration: 550ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (any-hover: hover) {
  .card-product:hover img {
    scale: 1.2;
  }
}
.card-product__image--new::before {
  position: absolute;
  content: "new";
  padding: 0.3125rem 0.6875rem;
  font-weight: 600;
  color: var(--white);
  background-color: var(--green);
  bottom: 0;
  left: 0;
  font-size: 0.875rem;
  line-height: 1;
  text-transform: capitalize;
  z-index: 4;
}
.card-product__image--sale::before {
  position: absolute;
  content: "-20";
  padding: 0.3125rem 0.6875rem;
  font-weight: 600;
  color: var(--white);
  background-color: var(--red);
  bottom: 0;
  left: 0;
  font-size: 0.875rem;
  line-height: 1;
  text-transform: capitalize;
  z-index: 4;
}
.card-product__image-cover {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 28.9375rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.card-product img {
  transition-duration: 550ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 16/9;
}
.card-product__favorite {
  position: absolute;
  top: 1rem;
  right: 1.1875rem;
  width: 1.5rem;
  height: 1.375rem;
  z-index: 5;
}
.card-product__favorite::before {
  position: absolute;
  content: url(../images/icons/favorite-card.svg);
  width: 1.5rem;
  height: 1.375rem;
  top: 0;
  left: 0;
}
.card-product__favorite--active::before {
  content: url(../images/icons/favorite-cardactive.svg);
}
.card-product__price-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}
.card-product__price {
  display: inline-block;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1;
  color: var(--black);
}
.card-product__basket {
  position: relative;
  cursor: pointer;
  z-index: 5;
}
.card-product__basket::before {
  content: url(../images/icons/basket.svg);
}
.card-product__name, .card-product__title {
  font-size: 0.875rem;
  line-height: 1;
  color: var(--black);
  margin-bottom: 0.625rem;
}
.card-product__title {
  font-weight: 400;
  flex: 1 1 auto;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-product__dots-item {
  cursor: pointer;
}
.card-product__dots-item.slick-current .card-product__size {
  color: var(--green);
}
.card-product__dots-list {
  max-width: 6.25rem;
  width: 100%;
}
.card-product__dots-list .slick-track {
  transform: none !important;
}
.card-product__size {
  padding-right: 0.9375rem;
}
@media screen and (width < 768.99px) {
  .card-product__image-cover {
    width: clamp(10.125rem, 2.107rem + 34.67vw, 18.75rem);
    height: clamp(16.125rem, 4.214rem + 51.51vw, 28.938rem);
  }
}

.slick-dots {
  position: absolute;
  height: 0.375rem;
  top: -0.875rem;
  left: 0;
  display: flex;
  justify-content: space-between;
  gap: 0.3125rem;
  z-index: 6;
}
.slick-dots button {
  padding: 0.125rem 0;
  transition-duration: 550ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 0;
  background-color: var(--main-color);
  width: clamp(2rem, 1.422rem + 2.5vw, 3.438rem);
  height: 0.125rem;
  cursor: url(../images/icons/cursor.svg), pointer;
}

.slick-active > button {
  background-color: var(--active);
}

.current__title {
  margin-bottom: 2.5rem;
}
.current__list {
  max-width: 19.1875rem;
  flex-shrink: 0;
}
.current__inner {
  display: flex;
  gap: 1.875rem;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  min-height: 0;
}
.current .swiper-wrapper {
  width: 59.5625rem;
}
.current__slider__title {
  margin-bottom: 0.625rem;
}
.current__link-trend {
  font-family: var(--font-family);
  font-size: clamp(0.875rem, 0.724rem + 0.65vw, 1.25rem);
  line-height: 1;
  color: var(--main-color);
}
.current__item:not(:last-child) {
  margin-bottom: 1.25rem;
}
.current__slider-images-thumb {
  position: relative;
  overflow: hidden;
  width: 59.5625rem;
  height: 41.25rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.current__slider-img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 16/9;
}
@media screen and (width < 1024.99px) {
  .current.container {
    padding: 0 0.9375rem 5rem 0;
  }
  .current__inner {
    flex-direction: column-reverse;
  }
  .current__list {
    display: flex;
    justify-content: space-around;
    gap: 0.625rem;
    max-width: 100%;
    width: 100%;
  }
  .current .swiper-wrapper {
    width: calc(100vw - 30px);
  }
  .current__slider-images-thumb {
    width: calc(100vw - 30px);
    height: clamp(14.75rem, -0.562rem + 65.33vw, 41.25rem);
  }
  .current .swiper__control {
    bottom: 20%;
  }
}

.subscription {
  background-color: #FFC803;
  padding: 4.125rem 0;
  margin-bottom: 5rem;
}
.subscription__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.subscription__title {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1;
  color: var(--white);
}
@media screen and (width > 1288.99px) {
  .subscription__title {
    margin-right: 1.875rem;
  }
}
.subscription__box {
  display: flex;
  align-items: center;
  margin-bottom: 1.875rem;
}
.subscription__offer {
  display: none;
}
@media screen and (width < 1288.99px) {
  .subscription__title {
    text-align: center;
  }
  .subscription__inner {
    flex-direction: column;
    justify-content: center;
    gap: 1.875rem;
  }
  .subscription__box {
    flex-direction: column;
    gap: 1.875rem;
    width: 100%;
  }
}
@media screen and (width < 768.99px) {
  .subscription__offer {
    display: block;
    text-align: center;
    padding: 2.375rem 1rem;
    background: #7002fe;
    color: var(--white);
  }
  .subscription__offer-descr {
    display: inline;
    line-height: 1.3;
  }
  .subscription__offer a {
    display: inline;
    font-weight: 500;
    text-decoration: underline;
    color: inherit;
  }
}

.social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.25rem;
}
.social__link {
  transition-duration: 550ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (any-hover: hover) {
  .social__link:hover {
    scale: 1.2;
  }
}
.social__link--vk::before {
  content: url(../images/icons/vk.svg);
}
.social__link--instagram::before {
  content: url(../images/icons/instagram.svg);
}
.social__link--youtube::before {
  content: url(../images/icons/youtube.svg);
}
@media screen and (width < 768.99px) {
  .social {
    justify-content: center;
    margin-top: 1.875rem;
  }
}

.form {
  display: flex;
  align-items: center;
  margin-right: 1.875rem;
}
.form__input {
  max-width: 22.125rem;
  height: 3.125rem;
  line-height: 1;
  color: var(--main-color);
  background: var(--white);
  border: 1px solid transparent;
  border-radius: 50px 0 0 50px;
  padding: 1.125rem 0 1.125rem 1.875rem;
  transition-duration: 550ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:hover {
  border: 1px solid var(--black);
}
.form__button {
  max-width: 12.25rem;
  height: 3.125rem;
  font-weight: 600;
  line-height: 1;
  color: var(--white);
  background: var(--black);
  border-radius: 0px 50px 50px 0px;
  border: none;
  cursor: pointer;
}
@media screen and (width < 768.99px) {
  .form {
    flex-direction: column;
    gap: 1.25rem;
    width: 100%;
  }
  .form__input {
    width: 100%;
    border-radius: 3.125rem;
  }
  .form__button {
    width: 100%;
    border-radius: 3.125rem;
  }
}/*# sourceMappingURL=style.css.map */