.card-product {
  position: relative;
  max-width: rem(300);
  margin: 0 auto;
  text-align: left;


  @media (any-hover: hover) {
    &:hover {
      .card-product__image {
        scale: 1.2;
      }

      // box-shadow: 1px 5px 10px -5px black;
    }
  }

  &__image-cover {
    position: relative;
    overflow: hidden;
    // width: rem(300);
    width: 100%;
    height: rem(463);
    object-fit: cover;
  }


  &__image {
    @include transition ($transition-property: scale);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    aspect-ratio: 16/9;
  }

  &__discont {
    ::before {
      position: absolute;
      content: "-20";
      padding: rem(5) rem(11);
      font-weight: 600;
      color: var(--white);
      background-color: var(--red);
      bottom: 0;
      left: 0;
      font-size: rem(14);
      line-height: 1;
      text-transform: capitalize;
      z-index: 4;
    }
  }

  &__new::before {
    position: absolute;
    content: "new";
    padding: rem(5) rem(11);
    font-weight: 600;
    color: var(--white);
    background-color: var(--green);
    bottom: 0;
    left: 0;
    font-size: rem(14);
    line-height: 1;
    text-transform: capitalize;
    z-index: 4;
    @include transition ($transition-property: (left, scale));
  }



  &__favorite {
    position: absolute;
    top: 25px;
    right: 35px;
    // width: rem(24);
    // height: rem(22);
    z-index: 5;

    &::before {
      position: absolute;
      content: url(../images/icons/favorite-card.svg);
      width: rem(24);
      height: rem(22);
      top: 0;
      left: 0;
    }

    &--active::before {
      content: url(../images/icons/favorite-cardactive.svg);
    }
  }


  &__price-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 17px;
    margin-bottom: 12px;
  }

  &__price {
    display: inline-block;
    font-weight: 600;
    font-size: rem(20);
    line-height: 1;
    color: var(--black);
  }

  &__basket {
    position: relative;
    cursor: pointer;
    z-index: 5;

    &::before {
      content: url(../images/icons/basket.svg);
    }
  }

  &__name,
  &__title {
    font-size: rem(14);
    line-height: 1;
    color: var(--black);
    margin-bottom: rem(10);
  }

  &__title {
    font-weight: 400;
    flex: 1 1 auto;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    // height: 5rem;
  }

  &__dots-item {
    cursor: pointer;
  }

  &__dots-item.slick-current {
    .card-product__size {
      color: var(--green);
    }
  }



  &__dots-list {
    max-width: rem(100);
    width: 100%;

    .slick-track {
      transform: none !important;
    }
  }

  &__size {
    padding-right: rem(15);
  }

  // @media screen and (width < 996.99px) {
  //   max-width: clamp(10.125rem, 5.027rem + 22.04vw, 18.75rem);
  //   height: clamp(23.063rem, 15.083rem + 34.5vw, 36.563rem);

  //   &__link {
  //     &--new::before {
  //       top: 71.5%;
  //     }
  //   }
  // }

  @media screen and (width < 768.99px) {
    &__image-cover {
      // width: clamp(10.125rem, 2.107rem + 34.67vw, 18.75rem);
      height: clamp(16.125rem, 4.214rem + 51.51vw, 28.938rem);
    }
  }
}






.slick-dots {
  position: absolute;
  height: rem(6);
  top: rem(-14);
  left: 0;
  display: flex;
  justify-content: space-between;
  gap: rem(5);
  z-index: 6;



  button {
    padding: rem(2) 0;
    @include transition ($transition-property: background-color);
    font-size: 0;
    background-color: var(--main-color);
    width: clamp(2rem, 1.422rem + 2.5vw, 3.438rem);
    // width: rem(55);
    height: rem(2);
    cursor: url(../images/icons/cursor.svg), pointer;
  }
}

.slick-active > button {
  background-color: var(--active);

}