// .catalog-page {
//   &__title {
//     margin-top: 30px;
//   }

//   &__control {
//     display: flex;
//     justify-content: flex-end;

//     &:not(:last-child) {
//       margin-bottom: 25px;
//     }
//   }

//   &__box {
//     display: flex;
//     gap: 30px;
//   }


//   &__list {
//     display: flex;
//     justify-content: space-around;
//     // @include adaptivevalue(gap, 30, 10, 1620, 320, 1);
//     flex-wrap: wrap;
//     margin-bottom: 60px;

//     .products-card {
//       margin: 0;
//     }
//   }

//   &__footer {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//   }

//   &__more {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     // @include adaptivevalue(width, 326, 290, 1620, 320, 1);
//     height: 50px;
//     border-radius: 3px;
//     border: 2px solid var(--accent);
//     background-color: rgba(232, 170, 49, 0.00);

//     color: var(--accent);
//     font-size: 20px;
//     font-weight: 600;
//     line-height: calc(20/46);
//     cursor: pointer;
//     @include transition ($transition-property: box-shadow);

//     @media (any-hover: hover) {
//       &:hover {
//         box-shadow: 0px 4px 20px 0px rgba(232, 170, 49, 0.43);
//       }
//     }
//   }

//   &__pagging {
//     display: flex;
//     align-items: center;
//     gap: 30px;
//   }

//   &__pagging-arrow {
//     color: var(--accent);

//     &::before {
//       font-size: 20px;
//     }

//     &:disabled {
//       color: rgba(0, 0, 0, 0.12);
//     }

//     &--prev {
//       transform: rotate(90deg);
//     }

//     &--next {
//       transform: rotate(-90deg);
//     }
//   }

//   &__pagination {
//     display: flex;
//     align-items: center;
//     // @include adaptivevalue(gap, 30, 10, 1620, 320, 1);
//   }

//   &__pagination-item {
//     color: var(--black);
//     line-height: calc(18/32);
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     width: 34px;
//     height: 34px;
//     border-radius: 50%;
//     @include transition ($transition-property: (background-color, color));

//     @media (any-hover: hover) {
//       &:hover {
//         color: var(--white);
//         background-color: var(--accent);
//       }
//     }
//   }

//   &__pagination-item.active {
//     color: var(--white);
//     background-color: var(--accent);
//   }

//   @media screen and (width < 1200.01px) {
//     &__footer {
//       flex-direction: column;
//       row-gap: 50px;
//     }
//   }

//   @media screen and (width < 712.01px) {
//     &__box {
//       flex-direction: column;
//     }
//   }

//  Цена range
.range {

  &__values {
    display: flex;
    // @include adaptivevalue(width, 312, 290, 1620, 320, 1);
    // width: 312);
    border-radius: 2px;
    border: 1px solid #CBCBCB;
    font-size: 16px;
    margin-top: 30px;

    &:not(:last-child) {
      margin-bottom: 30px;
    }

    &-input {
      padding: 12px 36px;
      width: 50%;
      color: var(--main-color);
      text-align: center;
      line-height: calc(20/16);
    }
  }

  &__slider {
    // @include adaptivevalue(width, 312, 234, 1620, 320, 1);
    margin: 0 auto;
    // width: 312);
  }
}






.filter-style.select-item {
  color: rgba(0, 0, 0, 0.50);
  font-size: 16px;
  border-radius: 3px;
  border: 1px solid rgba(4, 4, 4, 0.30);
  background: #FEFEFE;
  width: 374px;

  // @media screen and (width < 770.01px) {
  //   margin: 15) 0;
  // }

  // @media screen and (width < 440.01px) {
  //   padding: 5);
  // }
}


.jq-selectbox__select {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0px 45px 0px 20px;
  border: none;
  font-size: 16px;
  @extend %Montserrat-500;
  background: #FEFEFE;
  box-shadow: none;
  color: rgba(0, 0, 0, 0.50);
  text-shadow: none;
}

.jq-selectbox__trigger {
  position: absolute;
  top: 0;
  right: 0;
  width: 34px;
  height: 100%;
  border-left: none;
}

.jq-selectbox__trigger-arrow {
  position: absolute;
  content: url(../images/icons/trigger-arrow.svg);
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  width: 12px;
  height: 8px;
  border: none;
}

.jq-selectbox__dropdown {
  font-size: 14px;
  @extend %Montserrat-500;
}



.noUi-target {
  background: var(--orang);
  border-radius: 2px;
  border: none;
  box-shadow: none;
}

.noUi-horizontal {
  height: 2px;
}

.noUi-connect {
  background-color: var(--black);
}


.noUi-handle::after,
.noUi-handle::before {
  display: none;
}

.noUi-horizontal .noUi-handle {
  border-radius: 50%;
  right: -9px;
  top: -9px;
  height: 18px;
  width: 18px;
}

.noUi-handle {
  border: 3px solid var(--orang);
  border-radius: 3px;
  background: var(--black);
  cursor: default;
  box-shadow: none;
}

.noUi-tooltip {
  display: block;
  position: absolute;
  border: none;
  border-radius: 3px;
  background: transparent;
  color: rgba(20, 20, 20, 0.50);
  padding: 5px;
  text-align: center;
  white-space: nowrap;
}

.noUi-horizontal .noUi-tooltip {
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  left: 50%;
  bottom: -52px;
}