.fashion-news {
  padding-top: clamp(3.75rem, 3.238rem + 2.19vw, 5rem);
  padding-bottom: 40px;


  &__title {
    margin-bottom: clamp(0.625rem, -0.143rem + 3.28vw, 2.5rem);
  }

  &__list {
    padding-bottom: rem(40);
  }

  &__item {
    grid-column: 4 span;
  }

  &__link {
    max-width: rem(410);
  }

  &__image-cover {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 508px;
  }


  &__image {
    @include transition ($transition-property: scale);
    position: absolute;
    object-fit: cover;
    // left: 0;
    // top: 0;
    width: 100%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__text {
    font-size: clamp(1rem, 0.898rem + 0.44vw, 1.25rem);
    line-height: 1;
    color: var(--main-color);
    margin-top: rem(20);

    strong {
      display: inline-block;
      margin-bottom: 10px;
    }
  }


  & .swiper-pag {
    @media screen and (width < 809.99px) {
      display: flex;
      justify-content: center;
      gap: 8px;
      position: relative;
      bottom: 0;
    }
  }

  & .swiper-pagination-bullet {
    background-color: var(--main-color);
    width: 1.5rem;
    height: 0.125rem;
  }




  .swiper {
    width: 100%;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  .swiper-slide {
    margin: 0 auto;
  }

  @media (max-width: 1250px) {
    .slider-1 .swiper-wrapper {
      display: flex;
      gap: 0;
    }

    .swiper__control {
      display: flex;
      bottom: 0;
    }
  }
}