.filters {
  width: 343px;
  padding-left: 9px;

  &__btn {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 30px;
    cursor: pointer;
    @include transition ($transition-property: all);
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;

    &-arrow {
      @include transition ($transition-property: transform);
    }
  }

  &__btn.active {
    .filters__btn-arrow {
      transform: rotate(180deg);
    }
  }

  &-form {

    &__content {
      &--size {

        .jq-checkbox,
        .jq-radio {
          margin: 0 5px 0 0;
        }
      }

    }

    &__content.flex {
      gap: 25px;
    }

    &__drop {
      margin: 30px 0;
    }

    &__label {
      display: flex;
      font-size: 14px;
      line-height: 1.3;
      letter-spacing: .04em;
      cursor: pointer;

      &--red {
        color: var(--red);
      }


      &-quantity {
        display: inline-block;
        margin-left: auto;
        color: var(--main-color);
      }


      &:not(:last-child) {
        margin-bottom: 21px;
      }
    }
  }
}