.page {
  &--catalog {
    .section__title {
      font-size: 38px;
    }

    .subscription__bg {
      background-color: #FF4003;
    }
  }

  &--main {
    .subscription__bg {
      background-color: #FFC803;
    }
  }

  &--profile {
    background: #fcfcfc;

    .section__title {
      font-size: 32px;
    }
  }
}