.personal-data {
  padding-bottom: 40px;

  &__box {
    // padding-top: 85px;
    padding-top: clamp(1.563rem, 0.286rem + 6.38vw, 5.313rem);
    border-top: 1px solid #dededb;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  &__nav {
    grid-column: 2 span;
    padding-top: 7px;

    &-item {

      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }

    &-btn {
      position: relative;
      padding-left: 16px;
      font-weight: 500;
      line-height: 100%;
      text-transform: uppercase;

    }
  }

  &__content {
    // grid-column: 7 span;
    // grid-column-start: 3;
    grid-column-start: 4;
    grid-column-end: 11;
    max-width: 768px;
    min-width: 290px;
  }

  // &__content-item {
  //   position: relative;
  //   padding-bottom: calc(var(--form-gap) * 2);

  //   &::after {
  //     position: absolute;
  //     content: "";
  //     left: 0;
  //     bottom: var(--form-gap);
  //     width: 100%;
  //     height: 1px;
  //     background-color: #dededb;
  //   }
  // }

  @media screen and (width <=768px) {
    &__box {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
  }
}

.mixitup-control-active {
  &::before {
    position: absolute;
    margin-right: 16px;
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: var(--main-color);
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    @include transition ($transition-property: opacity);
  }
}