.person-form {

  &__title {
    text-transform: none;

    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  &__info {
    padding-left: 20px;
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 32px;
    }

    display: flex;
    align-items: center;
    gap: 16px;

    font-weight: 500;
    line-height: 130%;
    letter-spacing: 0.04em;
    color: var(--blue);
    background: rgba(#2f80ed, .2);
    height: 52px;
  }

  &__label {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    font-weight: 500;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--black);

    &:not(:last-child) {
      margin-bottom: 18px;
    }

    &-necessarily::after {
      content: '*';
      color: var(--red);
    }
  }

  &__input {
    display: block;
    width: 100%;
    border: 1px solid #c5c5c5;
    border-radius: 50px;
    background-color: var(--white);
    // height: 46px;
    padding: 15px;
    color: var(--main-color);
  }



  .checkbox {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }

  .checkbox__label {
    display: flex;
    align-items: center;
    gap: 16px;
    cursor: pointer;

    &:not(:last-child) {
      margin-bottom: 28px;
    }
  }

  .checkbox__castom-icon {
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: 1px solid#c5c5c5;
    background-color: transparent;
    @include transition ($transition-property: background-color);
  }

  .checkbox__icon-check {
    background-color: transparent;
    @include transition ($transition-property: background-color);
  }

  .checkbox:checked + .checkbox__label .checkbox__castom-icon {
    background-color: #c5c5c5;
  }

  .checkbox:checked + .checkbox__label .checkbox__castom-icon .checkbox__icon-check {
    background-color: #c5c5c5;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--main-color);
    border-radius: 50px;

    width: 243px;
    height: 46px;
    background-color: var(--main-color);

    font-weight: 600;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--white);
  }

  &--delivery {
    .person-form__title {
      color: var(--main-color);

      & svg {
        color: inherit;
      }
    }
  }
}