.quantity {
  display: flex;
  align-items: center;
  // width: 46px;
  height: 14px;
  gap: 17px;
}

.quantity-current {
  // width: 49px;
  // height: 14px;
  border: none;
  background-color: transparent;

  font-weight: 500;
  letter-spacing: normal;
  line-height: 100%;
  color: var(--main-color);
}


.quantity-button {
  // position: relative;
  cursor: pointer;
  width: 6px;
  height: 7px;
  // outline: rem(1) solid red;
}


// @media screen and (width < 1200.99px) {
//   .quantity-button.quantity-up {
//     right: rem(64);
//   }

//   .quantity-button.quantity-down {
//     right: rem(114);
//   }
// }

// @media screen and (width < 768.99px) {
//   .quantity-button.quantity-up {
//     right: rem(80);
//   }

//   .quantity-button.quantity-down {
//     right: rem(130);
//   }
// }

// @media screen and (width < 494.99px) {

//   .quantity-button {
//     top: rem(13);
//   }

//   .quantity-button.quantity-up {
//     right: rem(16);
//   }

//   .quantity-button.quantity-down {
//     right: rem(60);
//   }
// }

// @media screen and (width < 320.99px) {
//   .quantity-button.quantity-up {
//     right: rem(80);
//   }

//   .quantity-button.quantity-down {
//     right: rem(121);
//   }
// }