.splide {
  padding-bottom: 25px;

  // &__slide {
  //   min-height: rem(341);
  // }

  &__pagination {
    gap: rem(8);
    bottom: 0;
    right: auto;
    padding: 0;

    & button.is-active {
      background-color: var(--main-color);
      transform: none;
    }
  }

  &__arrow {
    position: absolute;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    display: -ms-flexbox;
    background: var(--main-color);
    border-radius: 50%;
    cursor: pointer;
    opacity: 1;
    padding: 0;
    top: 37%;
    transform: translateY(-50%);
    z-index: 1;

    &--prev {
      left: 0;
    }

    &--next {
      right: 0;
    }
  }

  .splide__arrow svg {
    fill: white;
    height: 20px;
    width: 20px;
  }


  .splide__pagination__page {
    @include transition ($transition-property: background-color);
    width: rem(24);
    height: rem(2);
    font-size: 0;
    background-color: rgba(86, 86, 86, .2);
    border: 0;
    border-radius: 0;
    display: inline-block;
    margin: 0;
    opacity: 1;
    padding: 0;
    position: relative;
  }



  @media screen and (width < 684.99px) {
    &__pagination {
      left: 50%;
      transform: translateX(-50%);
      flex-wrap: nowrap;
    }
  }
}