.swiper {

  &__control {
    position: absolute;
    bottom: 15px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    z-index: 3;
  }

  &-button-disabled {
    opacity: .2;
  }

  @media screen and (width < 660.99px) {
    &__control {

      bottom: 20px;
      right: 0;
      left: 0;
      text-align: center;
    }

    &-prev,
    &-next {
      display: none;
    }

    &-pagination-bullet {
      background-color: var(--white);
      width: 24px;
      height: 2px;
    }

    &-pagination {
      position: absolute;
      text-align: center;
      transition: .3s opacity;
      transform: translate3d(0, 0, 0);
      z-index: 10;
    }
  }
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 8px);
}