  .section__title {
    font-weight: 600;
    // font-size: clamp(1.25rem, 0.999rem + 1.09vw, 1.875rem);
    line-height: 1;
    color: var(--black);
    letter-spacing: normal;


    &--h4 {
      font-size: 20px;
    }
  }

  .slider__title {
    font-weight: 600;
    font-size: clamp(1rem, 0.899rem + 0.43vw, 1.25rem);
    line-height: 1;
    color: var(--black);
    margin-top: 20px;
  }