.container {
  min-width: 375px;
  margin: 0 auto;
  // outline: 1px solid brown;
  max-width: 1290px;
  width: 100%;

  @media screen and (width < 768.99px) {
    padding-right: rem(16);
    padding-left: rem(16);
  }
}







// @media screen and (width > 1024px) {
//   max-width: 1200px;
// }
// @media screen and (width > 1440px) {
//   max-width: 1320px;
// }