.container {
  min-width: 375px;
  margin: 0 auto;
  outline: 1px solid brown;
  max-width: 1290px;
  width: 100%;

  @media screen and (width < 578px) {
    padding: 0 16px;
  }


  // @media screen and (width > 1024px) {
  //   max-width: 1200px;
  // }
  // @media screen and (width > 1440px) {
  //   max-width: 1320px;
  // }
}