.card-product {

  &__link {

    &:hover {
      .products__card-hover {
        opacity: 1;
      }

      .products__card-title {
        color: var(--accent);
      }

      .products__card-price {
        color: var(--accent);
      }
    }

    &--new::before {
      position: absolute;
      content: "new";
      padding: rem(8) rem(15);
      color: var(--white);
      background-color: var(--accent);
      top: 0;
      left: 0;
      font-size: rem(12);
      line-height: 1.17;
      letter-spacing: .07em;
      text-transform: uppercase;
    }
  }

  &__favorite {
    position: absolute;
    top: rem(16);
    right: rem(19);
    width: rem(24);
    height: rem(22);
    z-index: 5;

    &::before {
      position: absolute;
      content: url(../images/icons/favorite-card.svg);
      width: rem(24);
      height: rem(22);
      top: 0;
      left: 0;
    }

    &--active::before {
      content: url(../images/icons/favorite-cardactive.svg);
    }
  }




  &__basket {
    position: absolute;
    bottom: rem(0);
    right: rem(0);
    width: rem(60);
    height: rem(40);
    background-color: var(--accent);
    border-radius: 10px 0px 0px 0px;
    z-index: 5;

    &::before {
      position: absolute;
      content: url(../images/basket-white.svg);
      width: rem(30);
      height: rem(22.5);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}