.fashion-news {
  &.section {
    padding-bottom: rem(60);
  }

  &__title {
    margin-bottom: rem(40);
  }

  &__list {
    padding-bottom: rem(40);
  }

  &__link {
    max-width: rem(410);
    margin: 0 auto;
  }

  &__image-cover {
    position: relative;
    overflow: hidden;
    width: 100%;
    aspect-ratio: 1/1;
    // height: rem(508);
  }


  &__image {
    @include transition ($transition-property: scale);
    position: absolute;
    object-fit: cover;
    // left: 0;
    // top: 0;
    width: 100%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__text {
    font-size: clamp(1rem, 0.898rem + 0.44vw, 1.25rem);
    line-height: 1;
    color: var(--main-color);
    margin-top: rem(20);
  }

  & .swiper__control {
    display: none;

    .swiper-pagination-fraction {
      display: none;
    }
  }

  & .swiper-pag {
    display: none;

    @media screen and (width < 809.99px) {
      display: flex;
      justify-content: center;
      position: relative;
      bottom: 0;
    }
  }

  & .swiper-pagination-bullet {
    background-color: var(--main-color);
    width: 1.5rem;
    height: 0.125rem;
  }



  .swiper {
    width: 100%;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }

  .swiper-slide {
    margin: 0 auto;
  }

  @media (max-width: 1250px) {
    .slider-1 .swiper-wrapper {
      display: flex;
      gap: 0;
    }

    .swiper__control {
      display: flex;
      bottom: 0;
    }
  }

  // @media screen and (width < 485.99px) {
  //   &__image-cover {
  //     width: rem(343);
  //     width: 100%;
  //   }

  // }
}