.header {


  &__offer {
    padding: rem(18) 0 rem(21);
    font-weight: 600;
    font-size: clamp(0.625rem, 0.525rem + 0.43vw, 0.875rem);
    line-height: 1;
    text-transform: uppercase;
    color: var(--main-color);
    text-align: center;
  }

  &__menu-main-bg {
    background-color: var(--black);
  }

  &__menu-main {
    justify-content: space-between;
    color: var(--white);
    flex-wrap: wrap;
  }

  &__menu-main-rightrow {
    display: flex;
    align-items: center;
    gap: rem(20);
  }



  &__link {
    padding: rem(29) rem(34);
    font-weight: 600;
    font-size: rem(14);
    line-height: 1;
    text-transform: uppercase;
    color: var(--white);
    @include transition ($transition-property: (box-shadow, background-color));

    @media (any-hover: hover) {
      &:hover {
        background-color: var(--active);
        box-shadow: 1px 5px 10px -5px black;
      }
    }

    &--active {
      background-color: var(--active);
    }

    &-img {
      display: none;
    }

    &--color {
      background-color: var(--red);
      border-radius: rem(50);
      padding: rem(13) rem(27);
      margin-right: rem(30);
      @include transition ($transition-property: (scale, background-color, box-shadow));

      @media (any-hover: hover) {
        &:hover {
          background-color: var(--red);
          scale: 1.2;
          box-shadow: 1px 5px 10px -5px red;

          + .header__menu-main-submenu {
            display: block;
          }
        }
      }
    }
  }

  &__location {
    padding: rem(28) rem(34);
    gap: rem(8);

    @media (any-hover: hover) {
      &:hover {
        background-color: var(--black);
      }

    }
  }


  &__menu-main-submenu {
    position: absolute;
    width: 100%;
    top: rem(160);
    left: 0;
    transform: translateY(-200%);

    background: #f6f6f6;
    padding: rem(47) clamp(2.063rem, -5.156rem + 11.28vw, 3.938rem);
    justify-content: space-between;
    align-items: flex-start;
    gap: rem(10);
    @include transition ($transition-property: transform);
  }

  &__link-submenu {
    padding: rem(10) rem(10);
    font-weight: 400;
    font-size: rem(14);
    line-height: 1;
    color: var(--black);
    @include transition ($transition-property: (box-shadow, background-color, transform));

    @media (any-hover: hover) {
      &:hover {
        background-color: var(--main-color);
        box-shadow: 1px 5px 10px -5px black;
        color: var(--white);
        transform: translateX(5px);
      }
    }
  }


  @media screen and (width < 1024.99px) {
    &__menu-main {
      height: rem(72);
    }

    &__menu-main-rightrow--mobile {
      justify-content: space-between;
      border-bottom: 1px solid #dbdbdb;
      margin-bottom: rem(20);
      padding: rem(17) rem(14) rem(12) 0;
    }

    &__location.header__link {
      justify-content: flex-end;
      background-color: var(--background);
      padding: 0;

      &:hover {
        color: var(--main-color);
        box-shadow: none;
      }

    }


    &__menu-main-submenu {
      display: block;
    }

    &__submenu-box {
      &:not(:last-child) {
        margin-bottom: rem(30);
      }
    }

    &__link {
      padding: 0 rem(25) 0 rem(30);
      color: var(--main-color);
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: var(--white);

      &:hover {
        color: var(--white);
      }

      &-img {
        display: block;
      }

      &--svg {
        &::after {
          content: '%';
        }
      }

      &--color {
        padding: rem(20);
        color: var(--red);
        justify-content: center;
        background-color: var(--white);
        margin-right: 0;
        border-radius: 0;

        &:hover {
          color: var(--white);
          scale: 1;
        }
      }
    }
  }



  // &-body__menu {
  //   display: none;

  //   &.menu--open {
  //     padding: 0 0 rem(16) rem(16);
  //     display: block;
  //     position: absolute;
  //     width: rem(329);
  //     height: 100vh;
  //     color: var(--main-color);
  //     top: 0;
  //     left: 0;
  //     background-color: var(--background);
  //     box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.05);
  //     z-index: 2;
  //     overflow-y: auto;
  //     overflow-x: hidden;
  //     // scrollbar-width: thin;
  //     // scrollbar-color: var(--main-color) var(--scroll-track);

  //     &::-webkit-scrollbar {
  //       width: rem(3);
  //     }

  //     &::-webkit-scrollbar-track {
  //       background-color: var(--scroll-track);
  //       border-radius: rem(3);
  //     }

  //     &::-webkit-scrollbar-thumb {
  //       background-color: var(--main-color);
  //       border-radius: rem(3);
  //       // width: rem(211);
  //     }
  //   }
  // }


  &__menu-main-icons {
    display: flex;
    align-items: center;
    gap: rem(20);


    & a {
      color: var(--white);
      @include transition ($transition-property: scale);

      @media (any-hover: hover) {
        &:hover {
          // transform: translateX(8px);
          scale: 1.2;
        }
      }
    }
  }

  &__search-btn {
    @include transition ($transition-property: scale);

    @media (any-hover: hover) {
      &:hover {
        // transform: translateX(8px);
        scale: 1.1;
      }
    }
  }



  &__icons-svg {
    color: var(--white);
  }



  &__search-form {
    margin-bottom: rem(30);
  }

  &-bottom {
    display: none;
  }
}