.hero {
  position: relative;



  &__content {
    position: absolute;
    width: clamp(20.875rem, 13.882rem + 29.84vw, 37.938rem);
    height: clamp(17.375rem, 14.737rem + 11.26vw, 23.813rem);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: 500;
    line-height: 1;
    color: var(--black);
    border-radius: rem(20);
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.7);
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title {
    font-size: clamp(2.5rem, 1.885rem + 2.62vw, 4rem);
    margin-bottom: rem(30);
  }

  &__text {
    font-size: clamp(1.25rem, 0.994rem + 1.09vw, 1.875rem);
    margin-bottom: rem(30);
  }

  &__slider {
    position: relative;
  }

  &__slider-item {
    display: flex;
    justify-content: center;
  }

  &__slider-images-thumb {
    position: relative;
    width: rem(430);
    height: clamp(26.125rem, 20.394rem + 24.78vw, 40.375rem);
    overflow: hidden;
    object-fit: cover;
  }

  &__slider-img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  @media screen and (width < 578px) {
    &.container {
      padding: 0;
    }

    &__slider-img {
      aspect-ratio: 3 / 4;
    }
  }
}