.nav {
  link {
    font-size: rem(14);
    line-height: 1;
  }


  &__menu-btn {
    display: none;
  }

  &-main__mobile {
    display: none;
  }

  &__item {

    &:hover {
      .header__menu-main-submenu {
        // transform: translateY(0);
        opacity: 1;
        // display: block;
      }
    }
  }

  &__submenu-title {
    padding-left: rem(10);
    font-weight: 600;
    font-size: rem(14);
    line-height: 1;
    text-transform: uppercase;
    color: var(--black);
    margin-bottom: rem(30);
  }





  @media screen and (width < 1024.99px) {
    &-main {
      display: none;

      &.menu--open {
        padding: 0 0 rem(16) rem(16);
        display: block;
        position: absolute;
        width: rem(329);
        height: 100vh;
        color: var(--main-color);
        top: 0;
        left: 0;
        background-color: var(--background);
        box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.05);
        z-index: 2;
        overflow-y: auto;
        overflow-x: hidden;
        // scrollbar-width: thin;
        // scrollbar-color: var(--main-color) var(--scroll-track);

        &::-webkit-scrollbar {
          width: rem(3);
        }

        &::-webkit-scrollbar-track {
          background-color: var(--scroll-track);
          border-radius: rem(3);
        }

        &::-webkit-scrollbar-thumb {
          background-color: var(--main-color);
          border-radius: rem(3);
          // width: rem(211);
        }
      }
    }

    &__menu-btn {
      position: relative;
      display: inline-block;
      width: rem(19);
      height: rem(12);
      background: transparent;
      // order: 1;
      padding: 0;
      // z-index: 2;
      transition: .3s ease;

      // &:hover &-line {
      //   background: var(--accent);
      // }

      &-line {
        position: absolute;
        left: 0;
        width: 100%;
        height: rem(2);
        background: var(--white);
        transition: .3s ease;

        &:nth-child(1) {
          top: 0px;
        }

        &:nth-child(2) {
          top: rem(6);
        }

        &:nth-child(3) {
          top: rem(6);
        }

        &:nth-child(4) {
          top: rem(12);
        }
      }
    }


    &-main__mobile {
      display: block;
      background-color: var(--background);
    }

    &-main__list {
      display: block;

      &:not(:last-child) {
        margin-bottom: rem(30);
      }
    }


    //  mobile
    &__item {
      background-color: var(--white);

      &:not(:last-child) {
        margin-bottom: rem(20);
      }
    }

    &__link {
      font-size: rem(14);
      line-height: 1;
      color: var(--black);
    }

    &-main__mobile-hat {
      background-color: var(--background);
    }

    &-extra__list {
      display: block;
    }

  }









  &__submenu-item {
    margin-bottom: rem(20);
  }

  &__submenu-item-title {
    font-weight: 600;
    font-size: rem(16);
    line-height: 1;
    text-transform: uppercase;
    color: var(--black);
  }


}