.slider {

  &__item {
    text-align: center;
    max-width: rem(203);

  }

  &__link {
    width: 100%;
    text-align: center;

    img {
      height: rem(301);
    }
  }

  @media screen and (width < 426.99px) {
    &__item {
      max-width: rem(162);
    }
  }
}